@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

a {
    color: #000000;

    a:visited {
        color: #000000;
        text-decoration: none;
    }
}


body, html {
    height: 100%;
    overflow: hidden;
}

.wrapper {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    box-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sec-wrapper {
    border: solid black 2px;
    width: 400px;
    height: 380px;
}

.header {
    border: solid black 2px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    height: 25px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.icon {
    display: inline-block;
}

.image1 {
    vertical-align: top;
    display: inline-block;
    height: 170px;
    width: 180px;
}
    
.me {
    vertical-align: top;
    display: inline-block;
    height: 150px;
    width: 160px;
    font-family: Questrial;
    font-weight: bold;
    font-size: 20px;
}

span {
    font-family: Questrial;
    font-weight: bold;
    font-size: 35px;
}

.b1, .b2, .b3, .b4{
    transition: 0.5s;
    margin-top: 20px;
    margin-left: 10px;
    height: 40px;
    width: 65px;
    border: solid 2px #000000;
    padding: 8px;
    font-family: Questrial;
    font-size: 18px;
    font-weight: bolder;
    background-color: #ffffff;
  }
  
  .b1:hover, .b2:hover, .b3:hover, .b4:hover {
            box-shadow: 4px 4px #00000071;
  }

.things {
    padding: 10px;
    border: solid black 2px;
    border-left: 0;
    border-right: 0;
    font-family: Questrial;
    font-size: 18px;
    font-weight: bolder;

}

.dstatus {
    width: 380px;
    margin-left: 10px;
}